 /* MEDIA QUERY */
    @media (max-width: 1280px) {
        /* HERO */
        .hero-content{ padding: 4% 0 2% 12%;} 
    }
    @media (max-width: 1024px) {
        /* HERO */
        .hero-content{ padding: 4% 0 2% 10%;} 
        .hero-content h2 { font-size: 2.9rem;} .hero-content p{font-size: 1.1rem;}
        /* ADVERTISEMENT */
        .advertisement-title h2{font-size: 1.8rem; }
        .advertisement-content{font-size: 1rem;} .advertisement-content strong{font-size: 1.3rem;}
        /* SERVICES */
        .services { padding: 3rem 2rem;}
    }
    @media (max-width: 768px) {
        /* NAVBAR */
        .navbar {flex-wrap: wrap; justify-content: space-between; padding: 1rem;} .logo{ width: 80px; height: 80px;}
        .menus { order: 3; width: 100%; max-height: 0; overflow: hidden; position: absolute; left: 0; z-index: 999; top: 100%; margin-top: 8px;  }
        .menus.open { max-height: 200px; background-color: #e7f6fb;}
        .nav-link { flex-direction: column; align-items: flex-start; gap: 0;}
        .nav-link li { border: 1px solid #fff; width: 100%; padding: 10px; }
        .hamburger { display: flex; }
        /* HERO */
        .hero-content { padding: 4% 0 2% 4%;} .hero-content h2{font-size: 2rem; line-height: 1.2; }
        .hero-image img{ width: 300px;} .hero-content a{ padding: 14px 28px;}
        /* SERVICES */
        .services { padding: 3rem 0.1rem;} .booking-label { padding: 1px 0.2rem; }
        /* FEATURES */
        .features{ margin: 1rem;} .feature-content{ padding: 0.5rem;}
        .feature-content h3{ font-size: 1.2rem; height: 40px;}
        /* NEWSLETTER */
        .newsletter-title{ padding: 3rem 0; text-align: center;}
        .newsletter-form{ text-align: center;}
    }
    @media (max-width: 640px){
        /* SERVICES */
        .service-items{ width: 100%; margin: 0 0 1rem 0 !important; }
        .service-booking{ width: 100%;}
        .add-to-cart{ margin: 0 0 1rem 0 !important; }
    }
    @media (max-width: 480px){
        /* HERO */
        .hero-content, .hero-image{ text-align: center; padding: 4% 2%;}
        /* ADVERTISEMENT */
        .advertisement-content{ text-align: center; border-right: none; margin-top: 1rem; }
        /* SERVICES */
        .phone-number-box label, .phone-number-box input[type="tel"] { margin-left: 0; }
        /* NEWSLETTER */
        .newsletter-title { padding: 1rem 0; }
    }