
    *{ margin: 0; padding: 0; box-sizing: border-box; }
    html, body{ background-color: #ffffff; text-rendering: optimizeLegibility;  scroll-behavior: smooth;}
    .equal-height { display: flex; flex-wrap: wrap; align-items: stretch; }

    /* NAVBAR */
    .navbar { position: sticky; top: 0;  z-index: 10000; display: flex; justify-content: space-around; align-items: center; padding: 0.2rem 1.5rem; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); background-color: #fff;}
    .logo { width: 100px; height: 100px; object-fit: contain; }
    .nav-link{ display: flex; gap: 2.5rem; list-style: none; font-size: 1.2rem;}
    .nav-link li a:link, .nav-link li a:visited { text-decoration: none; padding: 0.2rem; font-size: 1.1rem; transition: border-bottom 0.1s; color: darkgray; }
    .nav-link li a:hover, .nav-link li a:active { border-bottom: 4px solid #44A7E9; }
    .info-box{ display: flex; gap: 0.5rem; align-items: center;}
    .my-account{ border-radius: 8px; padding: 0.8rem 1rem; background-color: #E7F6FB; font-weight: bold; color: #44A7E9 ; font-size: 1rem; }
    .hamburger { display: none; background: none; border: none; cursor: pointer; font-size: 2rem; color: #44A7E9; } 
    .hamburger ion-icon{ margin-top: 8px;}

    /* HERO */
    .hero .col{margin: 0px;}
    .hero-content{ padding: 4% 0 0 18%;} .hero-image{ padding: 2% 0 4% 0; text-align: center;}
    .hero-content h2{ font-size: 3.4rem; line-height: 1.3; color: #4C5D67; }
    .hero-content span{ color: #46AFF3; }
    .hero-content p{ color: #B8BEBF; font-size: 1.2rem; margin-bottom: 30px; line-height: 1.4; }
    .text-highlight{color: #47AEF3;}
    .hero-content a{ background-color: #47AEF3; color: #fff; border: none; padding: 18px 36px; border-radius: 18px; cursor: pointer; text-decoration: none; }
    .hero-content a:hover { background-color: #4488dc; }
    .hero-content a:active { background-color: #4488dc; box-shadow: 0 5px #666; transform: translateY(4px); }
    .hero-content a ion-icon{ margin: -2px; font-size: 1.1rem; }
    .hero-image img{ width: 370px; object-fit: contain;}

    /* ADVERTISEMENT */
    .advertisement{ background-image: linear-gradient(to bottom, #3EA9FA, #2f8d9b); padding: 1.5rem; }
    .advertisement-title h2{ text-align:center; font-size: 2.5rem; }
    .advertisement-content{border-right: 2px solid #fff; font-size: 1.3rem;}
    .advertisement-content strong{ font-size: 1.6rem; text-align: left; }
    .advertisement-content:last-child{ border-right: none; }

    /* SERVICES */
    .services{ background-color: #E7F6FB; padding: 3rem 6rem 16rem 6rem;} .services .col{ margin: 0px;}
    /* services items */
    .service-items{margin-right: 12px !important; background-color: #fff; border-radius: 1.2rem; border: 1px solid #ccc; box-shadow: 5px 10px #888888;}
    .items-header{padding: 1rem 1rem 0 1rem; }
    .items-header h2{ font-size: 22px; line-height: 1.5; }
    .items-header p{ font-size: 1rem; line-height: 1.5; }
    .items-body{padding: 1rem; height: 400px;} .items-body div{padding: 14px 2px;}
    .items-footer{padding: 1rem; position: relative; overflow: hidden; }
    .items-footer p{color: #4387db; font-size: 1rem; font-weight: bold; position: absolute; top: 50%; left: 20%; 
    animation: moveSlide 10s ease-in-out infinite alternate ;}
    .remove-item-btn{display: none; } .add-item-btn, .remove-item-btn {text-align: center;float: right; }
    .add-item-btn {background-color: #E7F6FB; color: #5A6367; font-size: 1rem; border: none; font-weight: bold; padding: 8px; border-radius: 8px; }
    .remove-item-btn {background-color: #FDF7F6; color: #CD4B66; font-size: 1rem; border: none; font-weight: bold; padding: 8px; border-radius: 8px; }
    .remove-item-btn  ion-icon, .add-item-btn  ion-icon{ margin: -3px 0; }
    .dot{ color: #ccc; font-size: 2rem; font-weight: 600; }
    .amt{ color: #4387db; font-size: 1rem; font-weight: bold; }
     /* cart */
    .add-to-cart { margin-bottom: 10px; background-color: #fff; border-radius: 1.2rem; border: 1px solid #ccc; box-shadow: 5px 10px #888888;
      overflow: hidden; }
    .add-to-cart h2 { font-size: 18px; line-height: 1.5; padding: 8px; text-align: center; }
    .add-to-cart table { width: 100%; text-align: left; table-layout: fixed; }
    .add-to-cart thead th { position: sticky; top: 0; z-index: 2; background-color: #E7F6FB; border-bottom: 1px solid #EEF3F7; padding: 8px;
     font-size: 1rem; }
    .add-to-cart thead, .add-to-cart tfoot, .add-to-cart tbody tr { display: table; width: 100%; table-layout: fixed; }
    .serial-no { width: 60px;} .service-name { width: auto; } .price { width: 100px; } .total-amt-label{width: auto;} .total-amt{width: 100px;}
    .add-to-cart tbody{ height: 200px; display: block; overflow-y: auto; overflow-x: hidden; }
    .add-to-cart tbody td { border-bottom: 2px solid #EEF3F7; padding: 6px; font-size: 1rem; }
    .add-to-cart tbody tr:last-child td { border-bottom: none; }
    .add-to-cart tfoot th { position: sticky; bottom: 0; background-color: #fff; border-top: 1px solid #ccc; padding: 8px; font-weight: bold;
    z-index: 1; } 
    /* book-now */
    .book-now{padding: 8px; background-color: #fff; border-radius: 1.2rem; border: 1px solid #ccc; box-shadow: 5px 10px #888888;}
    .book-now h2{ padding-bottom: 16px; font-size: 18px; line-height: 1.5;}
    .inputClass{ width: 100%; height: 35px; border-radius: 8px; border: 1px solid #ccc; padding: 5px; margin: 8px 0 16px 0; }
    .phone-number-box label, .phone-number-box input[type="tel"]{ margin-left: 10px;}
    #booking-btn{ width: 100%; border: none; color: #fff; background-color: #47AEF3; padding: 14px; border-radius: 12px; }
    #booking-btn:hover{ background-color: #4488dc; }
    .inputClass:focus{ outline: none; }
    .booking-label{ display: block; padding: 2px 4rem; text-align: center; } 
    .services ion-icon{ margin: -2px 0;}

    /* FEATURES */
    .features{ text-align: center; margin: 1.5rem;}
    .feature-content{ padding: 1rem;}
    .feature-content img{ width: 80px; text-align: center; }
    .feature-content h3{ font-weight: bold; font-size: 1.3rem; }
    .feature-content p{ color: #B8BEBF; font-size: 1.2rem; }
    .feature-content:hover{ transform: scale(1.1); background-image: linear-gradient(to bottom, #3EA9FA, #6ac4d2); box-shadow: 10px 10px; }
    .feature-content:hover p{ color: #fff; }
    .feature-content:hover img{ background-color: #fff;}
    
    /* NEWSLETTER */
    .newsletter{ background-image: linear-gradient(to bottom, #3EA9FA, #2f8d9b); }
    .newsletter-title{font-size: 2rem; color: #fff; padding: 2rem 0; text-align:center;}
    .newsletter-form input[type="text"], .newsletter-form input[type="email"]{ text-align: center; padding: 1rem; margin: 3px 0; background-color: #4BB5F9; border: none; font-size: 18px; }
    .newsletter-form input[type="text"]:focus, .newsletter-form input[type="email"]:focus { outline: none; border: 1px solid #fff; }
    .newsletter-form input[type="text"]::placeholder, .newsletter-form input[type="email"]::placeholder{ color: #fff; }
    .newsletter-form button{ background-color: #fff; font-size: 18px; border: none; font-weight: bold; color: #3EA9FA; padding: 1rem 5.5rem; cursor: pointer; }

    /* FOOTER */
    footer{ background-color: #F6F8FA; padding: 1.5rem 2rem;} footer h2{ font-size: 1.2rem;}
    .about-us p{ color: #A4ABAB; font-size: 1.1rem; }
    .about-us, .links, .contact-info, 
    .links ul, .contact-info ul, .follow-us ul{ list-style-type: none; margin-top: 0.8rem; }
    .links ul li, .contact-info ul li{ padding: 4px 0; }
    .links ul li a, .contact-info ul li a{ text-decoration: none; color: #A4ABAB; font-size: 1.1rem; }
    .about-us p:hover, .links ul li a:hover, .contact-info ul li a:hover{ color:#47AEF3; } .contact-info ul li:last-child{padding-bottom: 1rem;}
    .follow-us ul li{ display: inline;  }
    .follow-us ul li a{ text-decoration: none; color: #000; }
    .follow-us ion-icon{ padding: 2px; font-size: 1.3rem; }
    .follow-us ion-icon:hover{ background-color: #47AEF3; color: #fff; border-radius: 50%; }

    /* PAGES */
    .about h2,.contact h2, .features h2, .privacy h2, .term h2, .refund h2{ font-size: 2rem; text-align: center; margin: 2% 0;
      text-decoration-line: underline; text-decoration-style: wavy; text-decoration-color: #47AEF3 }
    .about img{ margin: 1rem 0; object-fit: contain; width: 300px;}
    .about, .privacy, .term, .refund{ margin-bottom: 5rem; padding: 2% 8%; font-size: 1.2rem; text-align: center; font-family: cursive;
      line-height: 1.2; } .contact form{ padding: 8px;} .contact{ margin-bottom: 5rem;}
    .contact form .col{ margin: 0px; } .contact h3{ margin-bottom: 1rem; font-size: 1.5rem; }
    .contact ul li{ margin-bottom: 1rem; font-size: 1.2rem; }
    #contact-btn{ width: 100%; border: none; color: #fff; background-color: #47AEF3; padding: 14px; border-radius: 12px; }
    #contact-btn:hover{ background-color: #4488dc; }
    .contact-box{ background-color: #E7F6FB; padding: 5%; border-radius: 1.2rem; box-shadow: 5px 10px #888888; }
    .services, .contact, .about, .privacy, .term, .refund{ height: 100vh;}
    .contact textarea{width: 100%; border-radius: 8px; border: 1px solid #ccc; padding: 5px; margin: 8px 0 16px 0; outline:none}

    /* KEYFRAMES */
    @keyframes moveSlide {
        0% { transform: translate(-50%, -50%) translateX(-100vw); }
        100% { transform: translate(-50%, -50%) translateX(100vw); }
    }